.about {
    padding: 93px 0 115px;
    background: #FFFFFF;
}


@media screen and (max-width: 375px) {
    .about {
        padding: 25px 0 25px;
    }
}

.about h2 {
    font-size: 2.4rem;
    line-height: 1.22;
    color: #333333;
    font-weight: bold;
    margin-bottom: 76px;
}

@media screen and (max-width: 375px) {
.about h2 {
    font-weight: 600;
    margin-bottom: 19px;
    text-align: center;
    }
}   

.about p {
    color: #333333;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-bottom: 30px;
}

.about p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 375px) {
    .about p {
        font-size: 1.2rem;
        line-height: 1.25;
        margin-bottom: 10px;
    }
    
    .about p:last-child {
        margin-bottom: 0;
    }
}